
<main class="home">
    <div class="row mt-5 mb-5">
        <div class="col heading">
            <h1>A comprehensive platform for reliable</h1>
        </div>
    </div>
    <div class="row full-height">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="text-center mt-3">job opportunities and internships.</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="text-center">Get Discovered. Get Hired.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="/jobs" class="btn btn-orange mt-3 mb-2">I'm A Job Seeker</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <% if(recruiter){ %>
                            <a href="/jobs" class="btn btn-orange mb-3">I'm A Recruiter</a>
                        <% }else{ %>
                            <button class="btn btn-orange mb-3" id="recruiterButton" onclick="openRegisterModal()">I'm A Recruiter</button>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <img src="/images/background.jpg" alt="" class="img-fluid">
        </div>
    </div>
</main>
