
<main class="home">
    <div class="row mt-5 mb-5">
        <div class="col heading">
            <h1>A comprehensive platform for reliable</h1>
        </div>
    </div>
    <div class="row full-height">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="text-center mt-3">job opportunities and internships.</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="text-center">Get Discovered. Get Hired.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="/jobs" class="btn btn-orange mt-3 mb-2">I'm A Job Seeker</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-orange mb-3" id="recruiterButton">I'm A Recruiter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <img src="images/background.jpg" alt="" class="img-fluid">
        </div>
    </div>
</main>
    <!--Registeration Modal -->
    <div id="registerModal" class="modal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Join <strong>Easily</strong> as a Recruiter</h1>
              <button type="button" id="close-register" class="btn-close"></button>
            </div>
            <div class="modal-body">
                <% if(registerErrorMsg){ %>
                <div class="alert alert-danger alert-dismissible fade show" id="register-errors" role="alert">
                    <ul>
                            <% registerErrorMsg.forEach((error)=>{ %>
                                    <li><%= error.msg %></li>
                            <% }) %>
                    </ul>
                <button type="button" id="close-register-error" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
              <form action="/registerRecruiter" method="post">
                <div class="mb-3">
                  <label for="formGroupExampleInput" class="form-label">Name</label>
                  <input type="text" class="form-control" name="name" id="formGroupExampleInput" placeholder="Enter Name">
                </div>
                <div class="mb-3">
                  <label for="formGroupExampleInput2" class="form-label">Email</label>
                  <input type="email" class="form-control" name="email" id="formGroupExampleInput2" placeholder="Enter Email">
                </div>
                <div class="mb-3">
                  <label for="formGroupExampleInput2" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" id="formGroupExampleInput2" placeholder="Enter Password">
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn btn-orange">Register</button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <label class="form-label">Already Registered?</label>
              <button type="button" class="btn btn-yellow" id="loginButton">Login Here</button>
            </div>
          </div>
        </div>
      </div>
      
        <!--Login Modal -->
      <div id="loginModal" class="modal">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Login as a Recruiter</h1>
                <button type="button" id="close-login" class="btn-close"></button>
              </div>
              <div class="modal-body">
                <% if(loginErrorMsg){ %>
                    <div class="alert alert-danger alert-dismissible fade show" id="login-errors" role="alert">
                        <ul>
                                <% loginErrorMsg.forEach((error)=>{ %>
                                        <li><%= error.msg %></li>
                                <% }) %>
                        </ul>
                    <button type="button" id="close-login-error" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>
                <form action="/loginRecruiter" method="post">
                    <div class="mb-3">
                      <label for="formGroupExampleInput2" class="form-label">Email</label>
                      <input type="email" class="form-control" name="email" id="formGroupExampleInput2" placeholder="Enter Email">
                    </div>
                    <div class="mb-3">
                      <label for="formGroupExampleInput2" class="form-label">Password</label>
                      <input type="password" class="form-control" name="password" id="formGroupExampleInput2" placeholder="Enter Password">
                    </div>
                    <div class="mb-3">
                      <button type="submit" class="btn btn-orange">Login</button>
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                <label class="form-label">Don't have a Recruiter account?</label>
                <button type="button" id="registerButton" class="btn btn-yellow">Create one</button>
              </div>
            </div>
          </div>
        </div>
<script>
    window.onload = function () {
        const recruiterButton = document.getElementById("recruiterButton");
        const registerButton = document.getElementById("registerButton");
        const registerModal = document.getElementById("registerModal");
        const closeRegister = document.getElementById("close-register");

        const loginButton = document.getElementById("loginButton");
        const loginModal = document.getElementById("loginModal");
        const closeLogin = document.getElementById("close-login");
        const navLogin = document.getElementById("nav-login");

        registerButton.onclick = openRegisterModal;
        recruiterButton.onclick = openRegisterModal;
        closeRegister.onclick = closeRegisterModal;
        loginButton.onclick = openLoginModal;
        navLogin.onclick = openLoginModal;
        closeLogin.onclick = closeLoginModal;

        function openRegisterModal() {
            registerModal.style.display = "block";
            loginModal.style.display = "none";
        }
        function closeRegisterModal() {
            registerModal.style.display = "none";
        }
        function openLoginModal() {
            registerModal.style.display = "none";
            loginModal.style.display = "block";
        }
        function closeLoginModal() {
            loginModal.style.display = "none";
        }
        
        window.onclick = function (event) {
            if (event.target == registerModal || event.target == loginModal) {
                closeLoginModal();
                closeRegisterModal();
            }
        };
        if ('<%-status%>' == 'goToRegister') {
            openRegisterModal();
        } else if ('<%-status%>' == 'goToLogin') {
            openLoginModal();
        }

    }


</script>