<div class="job-container">
    <div class="card p-0">
        <div class="card-header card-header-bg">
            <!-- <img src="images/job.jpg" alt="" class="card-header-img"> -->
             <h1><span class="color-orange"><strong>SDE</strong></span> opportunity in <span>Delhi</span> at <span><strong>Coding Ninjas</strong></span></h1>
        </div>
        <div class="card-body p-4">
            <h3 class="card-title">Coding Ninjas</h3>
            <h5 class="mb-4">Tech <span class="color-yellow">SDE</span></h5>

            <p class="card-text"><i class="bi bi-geo-alt"></i> Gurgaon, Delhi</p>
            <p class="card-text"><i class="bi bi-wallet2"></i> 14-20LPA</p>
            <p class="card-text"><i class="bi bi-calendar"></i> Apply By 30 Jun 2024</p>
            <p class="card-text"><i class="bi bi-person-add"></i> Number of Openings</p>
            <p class="card-text"><i class="bi bi-people"></i> Applicants</p>

            <a href="#" class="btn btn-orange p-2" data-bs-toggle="modal" data-bs-target="#applyModal">Apply Now <i class="bi bi-box-arrow-up-right"></i></a>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <span class="text-light">Posted on 14 June 2024</span>
        </div>
    </div>
</div>

<!--Apply Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Easily</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h1 class="modal-title fs-5 text-center mb-3" id="exampleModalLabel">Apply for <strong>SDE</strong> in Coding Ninjas</h1>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Email</label>
                <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="Enter Email">
              </div>
              <div class="mb-3">
                <label for="mobile" class="form-label">Contact</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">+91</span>
                    <input type="rel" class="form-control" placeholder="Enter Mobile" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
              </div>
              <div class="mb-3">
                <label for="resume" class="form-label">Resume</label>
                <div class="input-group flex-nowrap">
                    <!-- <span class="input-group-text" id="addon-wrapping">Select Resume</span> -->
                    <input type="file" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
              </div>
              <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#loginModal">Apply</button>
              </div>
        </div>
        <!-- <div class="modal-footer">
          <label class="form-label">Already Registered?</label>
          <button type="button" class="btn btn-yellow" data-bs-toggle="modal" data-bs-target="#loginModal">Login Here</button>
        </div> -->
      </div>
    </div>
  </div>