<main class="jobs-list-background">
    <div class="card">
        <div class="card-body">
          <button class="btn btn-outline-light mb-3" disabled>Actively Hiring <i class="bi bi-graph-up-arrow"></i></button>
          <h5 class="card-title color-yellow">Coding Ninjas</h5>
          <p class="mb-3"><span>Tech </span><span class="color-orange">SDE</span></p>
          <span class="card-text"><i class="bi bi-geo-alt-fill"></i> Pune</span><br>
          <span class="card-text"><i class="bi bi-currency-rupee"></i> 4000000</span>
          <div class="skills-container mt-2 mb-2">
            <span class="btn outline-yellow m-1">ReactJs</span>
            <span class="btn outline-yellow m-1">NodeJs</span>
            <span class="btn outline-yellow m-1">JAVA</span>
            <span class="btn outline-yellow m-1">Python</span>
          </div>
          <a href="#" class="btn btn-orange">View details</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
          <button class="btn btn-outline-light mb-3" disabled>Actively Hiring <i class="bi bi-graph-up-arrow"></i></button>
          <h5 class="card-title color-yellow">Coding Ninjas</h5>
          <p class="mb-3"><span>Tech </span><span class="color-orange">SDE</span></p>
          <span class="card-text"><i class="bi bi-geo-alt-fill"></i> Pune</span><br>
          <span class="card-text"><i class="bi bi-currency-rupee"></i> 4000000</span>
          <div class="skills-container mt-2 mb-2">
            <span class="btn outline-yellow m-1">ReactJs</span>
            <span class="btn outline-yellow m-1">NodeJs</span>
            <span class="btn outline-yellow m-1">Html</span>
            <span class="btn outline-yellow m-1">CSS</span>
            <span class="btn outline-yellow m-1">JAVA</span>
            <span class="btn outline-yellow m-1">Python</span>
          </div>
          <a href="#" class="btn btn-orange">View details</a>
        </div>
    </div>
    
</main>